@charset "utf-8";

// Import partials.
@import "includes/normalize";
@import "includes/colors";
@import "includes/fonts";
@import "includes/header";
@import "includes/post";
@import "includes/page";

body,
p,
div {
  font-family: "LoraItalic";
  color: $mainColor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "BebasKaiRegular";
}

code,
pre {
  font-family: "FiraCode";
}

a {
  color: $blueColor;
  text-decoration: none;

  &:hover {
    color: $redColor;
    text-decoration: underline;
  }

  &:visited {
    color: $purpleColor;
  }
}

.content {
  padding: 1em;
  margin: 0 auto;
  width: 100%;
  max-width: 40em;

  .post-item {
    .post-header {
      display: flex;
      justify-content: space-between;
      align-content: center;

      .post-date {
        display: flex;
        align-items: center;
        color: $grayColor;
        font-size: 0.8em;
        margin-left: 1em;
        text-align: right;
      }
    }
  }
}

p {
  img {
    max-width: 100%;

    &.centered {
      display: block;
      margin: 0 auto;
    }
  }

  &.center {
    text-align: center;
  }
}
