// Color pallete: https://digitalsynopsis.com/design/minimal-web-color-palettes-combination-hex-code/
$mainColor: #444444;
$grayColor: #888888;
$whiteColor: #efefef;
$secondaryColor: #cccccc;
$someColor: #f8b195;
$someColor: #f67280;
$redColor: #c06c84;
$purpleColor: #6c5b7b;
$blueColor: #355c7d;
