@import "includes/colors";

.site-header {
  background-color: #c06c84;
  width: 100%;

  .wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1em;
    margin: 0 auto;
    max-width: 40em;

    a {
      color: $whiteColor;
      font-family: "FiraCode";

      &.page-link {
        border-right: solid 2px $whiteColor;
        padding-left: 0.5em;
        padding-right: 0.5em;

        &:last-child {
          border-right: none;
          padding-right: 0;
        }
      }
    }
  }
}
